<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.icecube">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IceCube"
        tools:targetApi="31">
        <activity
            android:name=".activities.auth.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.auth.SignUpActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.goals.GoalsListActivity" />
        <activity android:name=".activities.goals.CreateGoalActivity" />
        <activity android:name=".activities.goals.PlansListActivity" />
        <activity android:name=".activities.goals.CreatePlanActivity" />
        <activity android:name=".activities.goals.CreateReminderActivity" />

        <activity
            android:name=".activities.mithun.SingleSociety"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>


        <activity
            android:name=".activities.hiruni.SinglePeople"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.hiruni.SingleComplaint"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.hiruni.RelavantPartiesActivity"
            android:exported="false"
            android:label="Unique Relavant parties"
            android:parentActivityName=".activities.hiruni.RelavantPartiesMain" />
        <activity
            android:name=".activities.hiruni.RelavantPartiesMain"
            android:exported="false"
            android:label="Relavant parties"
            android:parentActivityName=".activities.hiruni.ViewComplaintsActivity" />
        <activity
            android:name=".activities.hiruni.ViewComplaintsActivity"
            android:exported="false"
            android:label="Solve Complaints"
            android:parentActivityName=".activities.hiruni.ViewComplaintsMain" />
        <activity
            android:name=".activities.hiruni.ViewComplaintsMain"
            android:exported="false"
            android:label="View Complaints"
            android:parentActivityName=".activities.hiruni.Complaints" />
        <activity
            android:name=".activities.hiruni.EmailActivity"
            android:exported="false"
            android:label="View Complaints"
            android:parentActivityName=".activities.hiruni.Complaints" />
        <activity
            android:name=".activities.hiruni.PeopleList"
            android:exported="false"
            android:label="View Complaints"
            android:parentActivityName=".activities.hiruni.Complaints" />

        <activity
            android:name=".activities.hiruni.ManageSocieties"
            android:exported="false"
            android:label="View Complaints"
            android:parentActivityName=".activities.hiruni.Complaints" />

        <activity
            android:name=".activities.hiruni.PopulationMenu"
            android:exported="true"
            android:label="Inquries/Complaints"
            android:parentActivityName=".activities.hiruni.ComplaintsInsert">
        </activity>

        <activity
            android:name=".activities.hiruni.ComplaintsList"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.IceCube.NoActionBar" />

    </application>

</manifest>